.buscarCancha {
    background: linear-gradient(rgba(255, 255, 255, 100%), rgba(255, 255, 255, 50%), rgba(255, 255, 255, 0%));
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 500px;
}


.container {
    

}